/* css/componentes/modal-imagen.css */

.modal-close-img {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f8fafc;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 2005;
}

.modal-close-img:hover {
    color: #ef4444; /* Rojo al pasar el mouse */
}

.modal-img-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 85vh; /* Ocupará hasta el 85% del alto de la pantalla */
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    animation: zoomImagen 0.3s ease;
}

@keyframes zoomImagen {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Agregamos una manito (cursor) a las imágenes que se pueden hacer clic */
.noticia-img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.noticia-img:hover {
    transform: scale(1.03); /* Un pequeñísimo zoom al pasar el mouse para indicar que es clickeable */
}