/* css/componentes/navegacion.css */

.navbar {
    background-color: #ffffff; /* Blanco puro */
    /* Esta es la sombra elegante que separa el menú del resto de la página */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05); 
    /* Asegúrate de que las letras del menú sean oscuras para que resalten */
}

.nav-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 800;
    color: #0b5c40; /* Verde oscuro DEMP */
    text-decoration: none;
    letter-spacing: 1px;
}

.logo-img {
    max-height: 90px; 
    width: auto;
    object-fit: contain;
}
.logo-link {
    display: flex;
    align-items: center;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #334155;
    font-weight: 600;
    font-size: 15px;
    transition: color 0.3s;
    padding: 10px 5px;
    display: block;
}

.nav-links a:hover {
   color: #144d29; /* Que cambien al verde de tu logo al pasar el mouse */
}

/* =========================================
   MENÚS DESPLEGABLES (Dropdowns)
   ========================================= */
.dropdown { position: relative; }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 220px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    list-style: none;
    top: 100%;
    left: 0;
    border-radius: 8px;
    overflow: visible; /* Importante para el sub-menú */
    padding: 10px 0;
    border: 1px solid #f1f5f9;
}

.dropdown-content li {
    padding: 0;
}

.dropdown-content a { 
    padding: 12px 20px; 
    font-weight: 500; 
    color: #334155;
    transition: background-color 0.2s, color 0.2s;
}

.dropdown-content a:hover { 
    background-color: #f8fafc; 
    color: #0b5c40;
}

/* Mostrar el menú al pasar el mouse */
.dropdown:hover .dropdown-content { display: block; }

/* =========================================
   SUB-MENÚS DESPLEGABLES (Anidados)
   ========================================= */
.nested-dropdown { position: relative; }

.nested-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    list-style: none;
    top: -10px; /* Alineado un poco más arriba para compensar el padding */
    left: 100%; /* Se despliega hacia la derecha */
    border-radius: 8px;
    padding: 10px 0;
    border: 1px solid #f1f5f9;
}

/* Mostrar el sub-menú al pasar el mouse sobre la opción "Programación" */
.nested-dropdown:hover .nested-dropdown-content { display: block; }

/* RESPONSIVIDAD DEL MENÚ */
@media (max-width: 850px) {
    .nav-links { display: none; }
}