/* =========================================
   Archivo: css/base/fondo.css
   DISEÑO LIMPIO Y CORPORATIVO
   ========================================= */
/* Archivo: css/base/fondo.css */
body {
    /* Fondo blanco arriba, gris-azulado muy claro abajo */
    background: linear-gradient(to bottom, #ffffff 0%, #f0f4f8 100%);
    background-attachment: fixed;
}

#contenido-dinamico {
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
}

.footer-demp {
    background-color: #0b5c40; 
}